html {
    font-family:"Brush Scripts M";
    color:rgb(106, 46, 46);
}

body {
    background-color: rgb(121, 69, 69);
    margin: 0;
}
p{
    font-size: 1.5rem;
}

.black {
    color: rgb(84, 34, 26);
    font-weight: 900;
}
#header {
    background-image: url("https://i.pinimg.com/736x/1b/23/57/1b2357da7b83d696b1544c6d524eb0b8.jpg");
    background-size: cover;
    height: 50%;
    color: rgb(99, 36, 47);
    font-size: 2rem;
    border-radius: 0 0 1.2em 1.2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

 .navbar {
    background-color: rgb(121, 69, 69);
    display: flex;
    justify-content: center;
 }
 
 .nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
 }

 .nav-links li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    transition: 0.5s;
    padding: 0.5em 1em;
    border-radius: 0.5em;
 }
 .nav-links li a:hover {
    background-color: rgb(197, 96, 130);
 }

 .title {
    text-align: center;
    padding: 1em;
 }

 .current {
    text-decoration: underline dotted rgb(197, 96, 130) 0.2em;
 }

 .accordion-header {
    width: 100%;
    background-color: rgb(150, 55, 60);
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(42, 8, 8);
    cursor: pointer;
    transition: 0.6s;
 }

 .accordion-content {
    display: none;
 }

 .accordion-header:hover {
    background-color: rgb(119, 45, 45);
 }